# Ignore everything except README and assets
# General Colcon/ROS 2 Build Artifacts
build/
install/
log/
.colcon_staging

# Python-specific (Inside packages or in the root)
# Compiled Python files
*.pyc
__pycache__/

# Python virtual environment (if used in the repo root)
.venv

# C++ specific
# CMake temporary files
CMakeCache.txt
CMakeFiles/

# Dependencies download directory (if used)
downloads/

# IDE/Editor specific files (common ones)
.vscode/
.idea/
*.swp
*~
Thumbs.db
.DS_Store
